@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
#app {
  background-color: #fbfafb;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}
