<!DOCTYPE html>
<html>
  <head>
    <title>File Share | Dashboard</title>
    <%- include('./partials/meta-tags.ejs'); -%>
  </head>
  <body>
    <div id="app">
      <div>
        <div class="container">
          <header><br></header>
          <div class="form-group">
            <input
              type="search"
              @input="searchFile($event.target.value)"
              class="form-control"
              placeholder="Search for files"
            />
          </div>
          <div class="form-group">
            <button class="btn btn-link btn-sm mb-2" @click="appEvent.$emit('downloadMultiple')">Download</button>
            <button @click="sortFiles()" class="btn btn-sm mb-2">All</button>
            <button @click="sortFiles('IMAGE')" class="btn btn-sm mb-2">
              Images
            </button>
            <button @click="sortFiles('VIDEO')" class="btn btn-sm mb-2">
              Videos
            </button>
            <button @click="sortFiles('FILES')" class="btn btn-sm mb-2">
              Files
            </button>
            <button @click="sortFiles('APP')" class="btn btn-sm mb-2">Apps</button>
          </div>
          <form method="POST" action="/api/files" enctype="multipart/form-data">
            <input
              type="file"
              class="btn"
              name="upload"
              multiple
              @change.prevent="upload"
            />
          </form>
          <div v-if="uploadPercent > 0">{{uploadPercent}}%</div>
        </div>
        <div class="container">
          <file-block></file-block>
        </div>
      </div>
      <footer class="card-footer app-footer">{{numberOfFiles}} items</footer>
    </div>
    <script src="script/vue.js"></script>
    <script src="script/socket.io.js"></script>
    <script src="script/main.js"></script>
  </body>
</html>
