<!DOCTYPE html>
<html>
  <head>
    <title>File Share | Dashboard</title>
    <%- include('./partials/meta-tags.ejs'); -%>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div class="row">
          <div class="col-l-3 col-sm-3" v-for="file in files">
            <div class="card p-2 m-2">
              <div class="card-content">
                <div>{{file.filename}}</div>
                <hr />
                <div>
                  <small>
                    {{file.fileType.substr(file.fileType.indexOf('/')+1)}} file
                  </small>
                </div>
                <div>{{file.size}}</div>
              </div>
              <a :href="file.link">Download</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="script/vue.js"></script>
    <script src="script/main.js"></script>
  </body>
</html>
