<!DOCTYPE html>
<html>
  <head>
    <title>File Share | Dashboard</title>
    <%- include('./partials/meta-tags.ejs'); -%>
  </head>
  <body>
    <div id="app">
      <div class="pb-3">
        <div class="container">
          <header><br /></header>
          <div class="form-group">
            <input
              type="search"
              @input="searchFile($event.target.value)"
              class="form-control"
              placeholder="Search for files"
            />
          </div>
          <div class="form-group" style="width: fit-content; margin: auto;">
            <button
              class="btn btn-link btn-sm mb-2"
              @click="appEvent.$emit('downloadMultiple')"
            >
              <span class="fas fa-download"></span>
            </button>
            <button
              @click="sortFiles()"
              class="btn btn-link btn-sm mb-2 ml-1 mr-1"
            >
              All
            </button>
            <button
              @click="sortFiles('IMAGE')"
              class="btn btn-link btn-sm mb-2 ml-1 mr-1"
            >
              <span class="fa fa-image"></span>
            </button>
            <button
              @click="sortFiles('VIDEO')"
              class="btn btn-link btn-sm mb-2 ml-1 mr-1"
            >
              <span class="fa fa-video"></span>
            </button>
            <button
              @click="sortFiles('AUDIO')"
              class="btn btn-link btn-sm mb-2 ml-1 mr-1"
            >
              <span class="fa fa-music"></span>
            </button>
            <button
              @click="sortFiles('FILES')"
              class="btn btn-link btn-sm mb-2 ml-1 mr-1"
            >
              <span class="fa fa-file"></span>
            </button>
            <button
              @click="sortFiles('APP')"
              class="btn btn-link btn-sm mb-2 ml-1 mr-1"
            >
              <i class="fab fa-android"></i>
            </button>
          </div>
          <form
            method="POST"
            action="/api/files"
            enctype="multipart/form-data"
            class="form"
          >
            <label for="upload" class="app-upload-btn"><span class="fa fa-upload fa-2"></span></label>
            <input
              type="file"
              class="btn"
              name="upload"
              id="upload"
              multiple
              @change.prevent="upload"
              hidden
            />

            <!-- <div class="file-field">
              <a class="btn-floating mt-0 float-left"></a>
              <i class="fas fa-cloud-upload-alt"></i>
              <input
                type="file"
                name="upload"
                multiple
                @change.prevent="upload"
              />
            </div> -->
          </form>
          <div v-if="uploadPercent > 0">{{uploadPercent}}%</div>
        </div>
        <div class="container-fluid">
          <file-block></file-block>
        </div>
      </div>
      <audio autoplay id="player" hidden></audio>
      <footer class="card-footer app-footer">
        <div class="row">
          <div class="col-3">
            {{numberOfFiles}} <span class="fa fa-file"></span>
          </div>
          <div class="col-9 text-right"></div>
        </div>
      </footer>
    </div>
    <script src="script/vue.js"></script>
    <script src="script/socket.io.js"></script>
    <script type="module" src="script/main.js"></script>
  </body>
</html>
