<!DOCTYPE html>
<html>
  <head>
    <title>P2P File share</title>
    <%- include('./partials/meta-tags.ejs'); -%>
  </head>
  <input type="file" id="file">
  <input type="text" id="toPeer">
  <button onclick="tooling()">send</button>

  <ul>
    
  </ul>

  <body>
    <script type="text/javascript" src="script/socket.io.js"></script>
    <script type="text/javascript" src="script/peerjs.min.js"></script>
    <script type="text/javascript" src="script/peer-script.js"></script>
  </body>
</html>
