body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.nav .fa,
.nav a,
.nav button {
  color: powderblue;
  font-size: 16px;
}

.file-details {
  background-color: #1a2125f9;
  padding: 5px;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  box-shadow: -7px 7px 12px #1a2125, -3px 7px 12px #1a2125;
  border-radius: 4px;
}

.app-img-preview {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  display: block;
}

.app-upload-btn {
  padding: 13px;
  border: 1px solid #007bff;
  border-radius: 50%;
  color: white;
  background-color: #007bff;
  position: fixed;
  z-index: 1000;
  bottom: 10%;
  right: 10%;
  box-shadow: #343a40 0 0 10px 2px;
}

.txt-white {
  color: white;
}

.app-padd-1 {
  padding: 10px;
}
.app-padd-2 {
  padding: 20px;
}
.app-padd-3 {
  padding: 30px;
}
.app-padd-4 {
  padding: 40px;
}
.app-padd-5 {
  padding: 50px;
}

.app-footer {
  position: fixed;
  bottom: 0;
  border-radius: 0 !important;
  width: 100%;
  background-color: #212529;
  color: #dae0e5;
}

a {
  color: #00b7ff;
}
.card {
  border-radius: 7px;
  border-width: 0;
}

hr {
  border-color: #75787bc7 !important;
}

.img-card {
  background-size: cover;
  background-position: center center;
  height: 180px;
  border-radius: 3px;
}
