body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.file-details {
  background-color: #212121f7;
  padding: 5px;
}

.app-img-preview {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  display: block;
}

.app-padd-1 {
  padding: 10px;
}
.app-padd-2 {
  padding: 20px;
}
.app-padd-3 {
  padding: 30px;
}
.app-padd-4 {
  padding: 40px;
}
.app-padd-5 {
  padding: 50px;
}

.app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #212529;
  color: #dae0e5;
}

a {
  color: #00b7ff;
}
